* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
}

.container {
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  top: 0px;
  background: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5px;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background: #333;
  color: #fff;
  padding: 20px;
}

.footer p {
  margin: 0;
}

.footer span {
  font-weight: bold;
}

.main {
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
}

form {
  display: block;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #333;
  background: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  width: 100px;
  margin-right: 10px;
}

.form-group input[type="text"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #333;
}

.form-group select {
  width: 200px;
  padding: 5px;
  border: 1px solid #333;
}

form button {
  width: 200px;
  padding: 10px;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;
}

#parking {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floor {
  display: flex;
  margin-bottom: 10px;
}

.place {
  width: 100px;
  height: 100px;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.place span {
  font-size: 12px;
}

.button {
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s;
}

.button_flot {
  position: fixed;
  right: 30px;
  width: 50px;
  z-index: 99;
}

.button-register {
  bottom: 160px;
  background-color: green;
}

.button-delete {
  bottom: 100px;
  background-color: red;
}

.button i {
  font-size: 25px;
  vertical-align: middle;
}

.button:hover {
  transform: scale(1.1);
  opacity: 1;
}

.button-register {
  background-color: green;
}

.button-register:hover {
  background-color: lime;
}

.button-delete {
  background-color: red;
}

.button-delete:hover {
  background-color: crimson;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  padding: 20px;
  z-index: 100;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  top: 0;
  left: 0;
}

.button-close {
  position: absolute;
  top: 0;
  right: -25px;
  opacity: 1;
}
